<h3><%= title %></h3>
<ul>
    <% people.forEach(function (person) { %>
    <li><%= person.name %> (<%= person.age %>)</li>
    <% }); %>
</ul>
<%- contentFor('infoBlock')%>
Please note that this is a result of inheritance!